.categories {
  display: flex;
  justify-content: center;
  &__wrapper {
    max-width: 125rem;
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    margin-bottom: 6.4rem;

    &__container {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      justify-content: center;
    }
  }
}
