.card {
  border-radius: 2rem;
  border: 1px solid var(--black);
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  min-width: 30rem;
  padding: 3.2rem 0 3.2rem 3.2rem;
  gap: 1rem;
  cursor: pointer;

  &--center {
    align-items: center;
    padding-left: 0;
  }

  &--transparent {
    background-color: transparent;
  }
  &--blue {
    background-color: var(--blue);
  }
  &--pink {
    background-color: var(--pink);
  }
  &--green {
    background-color: var(--green);
  }
  &--yellow {
    background-color: var(--yellow);
  }
  &--purple {
    background-color: var(--purple);
  }

  &__image-container {
    height: 5.5rem;
    width: 5.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .image {
      border-radius: 50%;
      height: 3.5rem;
      width: 3.5rem;
    }
  }
  &__image-container.blue {
    background-color: var(--blue);
  }
  &__image-container.pink {
    background-color: var(--pink);
  }
  &__image-container.green {
    background-color: var(--green);
  }
  &__image-container.yellow {
    background-color: var(--yellow);
  }
  &__image-container.purple {
    background-color: var(--purple);
  }
  &__image-container.lightgreen {
    background-color: var(--lightgreen);
  }
  &__image-container.lightblue {
    background-color: var(--lightblue);
  }

  &__title-container {
    .title {
      font-size: 2.4rem;
      font-weight: 600;
      line-height: 3.1rem;
    }
  }

  &__description-container {
    .description {
      font-size: 1.6rem;
      line-height: 2rem;
      color: var(--gray);
    }
  }
}
