.post-job {
  &__title {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.1rem;
    text-align: center;
    margin: 3.2rem 0 2.4rem 0;
  }
  
  &__container {
    position: relative;
    height: calc(100vh - 200px); // Adjust based on header + title height

    &__form {
      &__container {
        position: absolute;
        left: 0;
        top: 0;
        width: 50%;
        height: 100%;
        overflow-y: auto;
        padding: 0 2rem;
        
        &__form {
          display: flex;
          flex-direction: column;
          gap: 2.4rem;
          padding-bottom: 4rem;
        }
      }
      
      &__rows {
        display: flex;
        gap: 4rem;
      }
    }

    &__preview {
      position: absolute;
      right: 0;
      top: 0;
      width: 50%;
      height: 100%;
      overflow-y: auto;
    }
  }

  .field-array {
    &-item {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-bottom: 1rem;
    }
    &__container {
      display: flex;
      flex-direction: column;
    }
  }
}
