.form {
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;

  &__group {
    display: flex;
    width: 100%;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    input {
      outline: none;
      padding: 2rem 2.5rem;
      font-size: 1.6rem;
      color: var(--gray);
      font-family: inherit;
      width: 100%;

      @media (max-width: 1024px) {
        padding: 1.6rem 2rem;
      }

      @media (max-width: 375px) {
        padding: 1.2rem 1.6rem;
      }

      &::placeholder {
        color: var(--gray);
        font-size: 1.6rem;
        line-height: 2rem;

        @media (max-width: 768px) {
          font-size: 1.4rem;
        }
      }
    }

    &__search {
      border: 1px solid var(--black);
      border-right: none;
      width: 50rem;
      flex: 2;

      @media (max-width: 768px) {
        width: 100%;
        border-right: 1px solid var(--black);
      }

      input {
        border: none;
        width: 100%;
      }
    }

    &__location {
      flex: 1;
      display: flex;
      align-items: center;
      border: 1px solid var(--black);
      border-top-right-radius: 1.6rem;
      border-bottom-right-radius: 1.6rem;
      border-left: 1px solid var(--black);

      @media (max-width: 768px) {
        border-radius: 0;
        border-top: none;
        flex-direction: column;
        align-items: stretch;
      }

      input {
        border: none;
        flex: 1;

        @media (max-width: 768px) {
          border-bottom: 1px solid var(--black);
        }
      }

      .button {
        margin-right: 1.6rem;
        white-space: nowrap;

        @media (max-width: 1024px) {
          padding: 1rem 2rem;
          font-size: 1.4rem;
        }

        @media (max-width: 768px) {
          margin: 1rem;
          width: calc(100% - 2rem);
        }

        @media (max-width: 375px) {
          margin: 0.8rem;
          width: calc(100% - 1.6rem);
          padding: 0.8rem 1.6rem;
          font-size: 1.3rem;
        }
      }
    }
  }
}
